<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
        <div class="container">

            <form action="/register" method="post" onsubmit="return passvalidation()">
                <div>
                    <h1>Welcome Back!</h1>
                </div>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name">
                </div>

                <div>
                    <label for=" email">Email</label>
                    <input type="email" name="email" id="emailInput" onchange="findUser()" required><br>
                    <span id="eerr"></span>
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="pass"><br>
                    <span id="err"></span>
                </div>
                <div>
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" name="cpassword" id="cpassword" oninput="confirmPass()"><br>
                    <span id="cpasserr"></span>
                </div>
                <div>
                    <input type="submit" value="Register" id="submit-btn" disabled>
                </div>
                <div class="div">
                    <span>Already have an account! </span><a href="/login">Login</a>
                </div>

            </form>
        </div>
    </div>
</body>
<script>
    const submit_btn = document.getElementById("submit-btn");
    function passvalidation() {
        var pw = document.getElementById("pass").value;
        var pw2 = document.getElementById("cpassword").value;
        var passw = /^(?=.*[-\#\$\.\%\&\@\!\+\=\\*])(?=.*[a-zA-Z])(?=.*\d).{6,12}$/;
        //check empty password field  
        if (pw == "") {
            document.getElementById("err").innerHTML = "**Fill the password please!";
            return false;
        }
        //minimum password length validation  
        else if (pw.length < 5) {
            document.getElementById("err").innerHTML = "**Password length must be atleast 5 characters";
            return false;
        }
        //maximum length of password validation  
        else if (pw.length > 15) {
            document.getElementById("err").innerHTML = "**Password length must not exceed 15 characters";
            return false;
        }
        else if (!pw.match(passw)) {
            document.getElementById("err").innerHTML = "**password should contain latters,numbers and specialchar"
            return false;

        }

    }
    function confirmPass() {
        var pw = document.getElementById("pass").value;
        var pw2 = document.getElementById("cpassword").value;
        if (pw != pw2) {
            document.getElementById("cpasserr").innerHTML = "**Confirm Password did not matched!"
        } else {
            document.getElementById("cpasserr").innerHTML = "Password matched!"
            document.getElementById("cpasserr").style.color = "green";
            submit_btn.disabled = false;
        }

    }

    function findUser() {
        const email = document.getElementById("emailInput").value;

        fetch(`/finduser?email=${email}`)
            .then(res => res.json())
            .then(data => {
                const message = document.getElementById('eerr');

                console.log(data)
                if (data.exists) {
                    message.innerHTML = "Email Already Exist";
                    message.style.color = 'red';

                } else {
                    message.textContent = '';
                    message.style.color = 'green';


                }
            })
            .catch(err => console.log(err));
    }
</script>

</html>