<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <style>
        li a{
            text-decoration: none;
            cursor: pointer;
            font-size: 2rem;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Tasks List:-</h1>
    <ul>
        <li><a href="/tictac">Tic Tac Toy</a></li>
        <li><a href="/cubegame">Color Cube</a></li>
        <li><a href="/calculator">Calculator</a></li>
        <li><a href="/1/first_name/asc">Pagination And Sorting</a></li>
        <li><a href="/pagination">Pagination And Sorting2 and search</a></li>
        <li><a href="/search">Delimiter Search</a></li>
        <li><a href="/jobform">Job Application Form</a></li>
        <li><a href="/exel">Exel Tasks</a></li>
        <li><a href="/combo">Generate Combo</a></li>
    </ul>
</body>
</html>